@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-BoldOblique.eot');
    src: url('../font/Evolventa-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-BoldOblique.woff2') format('woff2'),
        url('../font/Evolventa-BoldOblique.woff') format('woff'),
        url('../font/Evolventa-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-BoldOblique_1.eot');
    src: url('../font/Evolventa-BoldOblique_1.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-BoldOblique_1.woff2') format('woff2'),
        url('../font/Evolventa-BoldOblique_1.woff') format('woff'),
        url('../font/Evolventa-BoldOblique_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-Oblique.eot');
    src: url('../font/Evolventa-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-Oblique.woff2') format('woff2'),
        url('../font/Evolventa-Oblique.woff') format('woff'),
        url('../font/Evolventa-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-Bold.eot');
    src: url('../font/Evolventa-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-Bold.woff2') format('woff2'),
        url('../font/Evolventa-Bold.woff') format('woff'),
        url('../font/Evolventa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-Oblique_1.eot');
    src: url('../font/Evolventa-Oblique_1.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-Oblique_1.woff2') format('woff2'),
        url('../font/Evolventa-Oblique_1.woff') format('woff'),
        url('../font/Evolventa-Oblique_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-Bold_1.eot');
    src: url('../font/Evolventa-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-Bold_1.woff2') format('woff2'),
        url('../font/Evolventa-Bold_1.woff') format('woff'),
        url('../font/Evolventa-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-Regular.eot');
    src: url('../font/Evolventa-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-Regular.woff2') format('woff2'),
        url('../font/Evolventa-Regular.woff') format('woff'),
        url('../font/Evolventa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../font/Evolventa-Regular_1.eot');
    src: url('../font/Evolventa-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../font/Evolventa-Regular_1.woff2') format('woff2'),
        url('../font/Evolventa-Regular_1.woff') format('woff'),
        url('../font/Evolventa-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

